// # ------------ LAYER SETTINGS and LAYER TOOLS------------ # //
@import "./../../shared/styles/include-settings-styles";

// # ------------ LAYER COMPONENTS ------------ # //

@layer components-entities {
	.register-form {
		display: flex;
		flex-direction: column;

		width: 500px;
		margin: 100px auto;
		padding: 10px;
		row-gap: 20px;
	}

	.register-button {
		padding: 10px;

		border-radius: 10px;
		outline: none;
		background: $tag-orange;
	}
}
